---
---

<section id="about">
  <h2 class="section-heading reveal"><span class="num">01.</span>关于我</h2>
  <div class="inner reveal">
    <div>
      <p>你好！我是涂晨光，2025 年 9 月入学<strong>厦门大学马来西亚分校</strong>（XMUM），电子与电气工程（EEE）大一学生。</p>
      <p><strong>浙江杭州</strong>人，杭州高级中学毕业。</p>
      <p>未来方向还在探索中，保研或者申研都在考虑，做这个网站是想记录我的成长，和一些好玩的项目。</p>
      <p>生活之外，<strong>爱打篮球，游泳，旅游，摩托车</strong>。人生目标：先实现经济自由，然后走遍世界。</p>
      <p>最近在用的技术和工具:</p>
      <ul class="skills-list">
        <li>Python</li><li>JavaScript</li><li>C / C++</li><li>React</li>
        <li>Supabase</li><li>Tailwind CSS</li><li>Vercel</li><li>Git</li>
      </ul>
    </div>
    <div>
      <div class="avatar-box"><div class="avatar"><img src="/images/avatar.jpg" alt="涂晨光" /></div></div>
    </div>
  </div>
</section>
