---
---

<style>
  .hero-inline-link {
    color: var(--slate);
    text-decoration: none;
  }
</style>

<section id="hero">
  <div class="hero-intro">你好, 我叫</div>
  <h1 class="hero-name">涂晨光。</h1>
  <h2 class="hero-tagline"><span class="cn">正在制造</span><br />想要的东西。</h2>
  <p class="hero-desc">
    我是一名在马来西亚就读的电子与电气工程大一学生，来自浙江杭州。这里记录我的成长，以及一些<a href="#projects" class="hero-inline-link">独立做出来的小东西</a>。
  </p>
  <a href="#projects" class="hero-cta">看看我在做什么</a>
</section>
