---
---

<nav id="nav">
  <a href="/" class="logo">TCG</a>
  <ul class="nav-links">
    <li><a href="/#about"><span class="num">01.</span>关于</a></li>
    <li><a href="/#projects"><span class="num">02.</span>作品</a></li>
    <li><a href="/#now"><span class="num">03.</span>正在做</a></li>
    <li><a href="/#travel"><span class="num">04.</span>足迹</a></li>
    <li><a href="/#contact"><span class="num">05.</span>联系</a></li>
    <li><a href="/blog" class="resume-btn">博客</a></li>
  </ul>
</nav>
